@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  font-size: 62.5%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 10rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #3d4152;
  font-size: 1.5rem;
}

.logo {
  width: 60px;
  height: 50px;
}

.left-side-nav {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 3.8rem;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s;
  cursor: pointer;
  font-weight: 500;
}

li:hover {
  color: #f3484b;
}

.hero-icon {
  height: 20px;
  width: 20px;
}

.restaurant-count {
  padding: 1.4rem 10rem;
  margin-top: 2rem;
  font-size: 2.4rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-count {
  span {
    input,
    button {
      padding: 0.8em 2em;
      border: 1px solid #636e72;
      outline: none;
    }

    input {
      border-radius: 0.5em 0 0 0.5em;
    }

    button {
      border-radius: 0 0.5em 0.5em 0;
      cursor: pointer;
    }
  }
}

.card-container {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.4rem 10rem;
  display: flex;
  column-gap: 1em;
  row-gap: 2em;
  margin-bottom: 4em;

  &::after {
    content: '';
    flex-basis: 22%; /* give it the same width of your child or item; */
  }

  .card {
    width: 22%;
    min-width: 300px;
    padding: 1.5em;
    transition: box-shadow 0.3s linear;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;

    img {
      width: 100%;
    }

    .res-name {
      font-size: 1.6rem;
      color: #3d4152;
      font-weight: 500;
    }

    .res-cuisine {
      font-size: 1.2rem;
      color: #636e72;
    }

    .res-data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      color: #636e72;
      font-size: 1.2rem;
      padding-block: 1.2rem;
      border-bottom: 1px solid #e0e0e0;

      .seperator {
        color: #e0e0e0;
      }

      .res-rating {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        &.low {
          background-color: #db7c38;
          color: #fff;
          padding: 0.4rem 1rem;
        }

        &.high {
          background-color: #48c479;
          color: #fff;
          padding: 0.4rem 1rem;
        }

        .hero-icon {
          height: 16px;
          width: 16px;
        }
      }
    }

    .res-discount {
      color: #8a584b;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      margin-top: 0.6rem;

      .hero-icon {
        height: 16px;
        width: 16px;
        color: #8a584b;
      }
    }
  }

  .card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid rgba(149, 157, 165, 0.8);
  }
}

.not-found-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;

  p {
    display: flex;
    align-items: center;
    gap: 0.8em;
    font-size: 2rem;
    color: #636e72;

    .hero-icon {
      color: #f3484b;
      width: 28px;
      height: 28px;
    }
  }

  img {
    width: 200px;
    height: 300px;
  }
}

.search-text {
  font-size: 1.8rem;
  padding: 4em 2em;
  text-align: center;
  color: #636e72;
}
