@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  font-size: 62.5%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 10rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #3d4152;
  font-size: 1.5rem;
}

.logo {
  width: 60px;
  height: 50px;
}

.left-side-nav {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 3.8rem;
}
li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s;
  cursor: pointer;
  font-weight: 500;
}
li:hover {
  color: #f3484b;
}
.hero-icon {
  height: 20px;
  width: 20px;
}

.restaurant-count {
  padding: 1.4rem 10rem;
  margin-top: 2rem;
  font-size: 2.4rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-count > span > input, .restaurant-count > span > button {
  padding: 0.8em 2em;
  border: 1px solid #636e72;
  outline: none;
}

.restaurant-count > span > input {
  border-radius: 0.5em 0 0 0.5em;
}
.restaurant-count > span > button {
  border-radius: 0 0.5em 0.5em 0;
  cursor: pointer;
}

.card-container {
  width: 90%;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  width: 22%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0.8em;
}

.card > img {
  width: 100%;
}

